# Supabase Configuration
# Dapatkan kredensial ini dari Dashboard Supabase -> Project Settings -> API
VITE_SUPABASE_URL="https://vmmhkzyafjbrgzcmtnqg.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZtbWhrenlhZmpicmd6Y210bnFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE1NDgxMzQsImV4cCI6MjEwNzEyNDEzNH0.cuy5ojMeag3caf7P815WfW270iVtaY0e3akNDRVgvOA"
# Application Settings
VITE_APP_NAME="SISTEM INFORMASI SHIFT JAGA INSTALASI LABORATORIUM RSUD SMJ I"
VITE_TIMEZONE="Asia/Pontianak"
